absl-py==2.1.0
ale-py==0.10.1
annotated-types==0.7.0
click==8.1.8
cloudpickle==3.1.0
contourpy==1.3.1
cycler==0.12.1
docker-pycreds==0.4.0
einops==0.8.0
Farama-Notifications==0.0.4
fonttools==4.55.3
fsspec==2024.12.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.68.1
gymnasium==1.0.0
imageio==2.36.1
kiwisolver==1.4.8
lazy_loader==0.4
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.10.0
mdurl==0.1.2
mediapy==1.2.2
numpy==1.26.4
opencv-python==4.10.0.84
packaging==24.2
pandas==2.2.3
platformdirs==4.3.6
protobuf==5.29.2
psutil==6.1.1
pyboy==2.4.1
pydantic==2.10.4
pydantic_core==2.27.2
pygame==2.6.1
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
rich==13.9.4
scikit-image==0.25.0
scipy==1.14.1
sentry-sdk==2.19.2
setproctitle==1.3.4
six==1.17.0
smmap==5.0.1
stable_baselines3==2.4.0
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tifffile==2024.12.12
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
tzdata==2024.2
wandb==0.19.1
websockets==14.1
Werkzeug==3.1.3
